<h1>CREATE TASK</h1>
<%= form_with(model: @task, local: true) do |f| %>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title %></div>
  <div><%= f.submit %></div>
<% end %>
<%= link_to '戻る', root_path %>